.record-panel-title{
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    /*padding: 0 1em;*/
    height: 70px;
    display: inline-table;
}

.record-panel-title a {
    vertical-align: middle;
    display: table-cell;
}

.no-padding-right{
    padding-right: 0;
}

.record-panel-title a:hover, .record-panel-title a:active, .record-panel-title a:focus, .selected {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 5px solid #b269a7;
    padding-top: 5px;
}

.benefiter-info > h2{
    font-size: 20px;
    margin: 0 20px;
}

@media screen and (max-width: 1350px){
    .benefiter-info > h2{
        font-size: 15px;
    }
}
