.form-section{
    border: 20px solid #e6f4f4;
}
.padding-top-bottom-5{
    padding: 5px 0px;
}
.line-height-50{
    line-height: 50px;
}
.color-red{
    color: red;
}

.font-size-18{
    font-size: 18px;
}
.make-bold{
    font-weight: 600;
}

.text-align-center{
    text-align: center;
}

.form-section.no-bottom-border{
    border: 20px solid #e6f4f4;
    border-bottom: none;
}
.no-top-border{
    border-top: none;
}

.make-inline{
    display: inline-block;
}
.display-inline{
    display: inline-block !important;
}

.make-block{
    display: block;
}

.padding-left-right-15{
    padding: 0 15px;
}
.margin-30{
    margin: 30px;
}

.margin-right-30{
    margin-right: 30px;
}
.margin-left-right-10px{
    margin: 0px 10px;
}
.margin-right-10px{
    margin-right: 10px;
}

.margin-left-11dot333per{
    margin-left: 11.333%;
}
.margin-top-20{
    margin-top: 20px;
}

.margin-top-5{
    margin-top: 5px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.custom-input-text{
    border: none;
    border-bottom: 1px solid #b8bcbb;
    background-color: #FFFFFF;
    color: #53585f;
    font-weight: 700;
    display: block;
    font-size: 1.1em;
}

.custom-input-textarea{
    border: 1px solid #b8bcbb;
    background-color: #FFFFFF;
    color: #53585f;
    font-weight: 700;
    display: block;
    font-size: 1.1em;
}

.custom-input-text.address{
    width: 100%;
}

.date-input{
    display: inline-block;
}

.bold-slash{
    color: #53585f;
    font-weight: 700;
}
.border-1-grey{
    border: 1px solid #b8bcbb
}

.success-message{
    font-size: 2.2em;
    text-align: center;
    color: rgba(3, 107, 3, 0.54);
}

.edit-visit{
    font-size: 2.6em;
    text-align: center;
    color: rgba(3, 107, 3, 0.54);
}

.unsuccess-message{
    font-size: 2.2em;
    text-align: center;
    color: rgba(222, 11, 11, 0.54);
}

.clinical-results{
    padding: 20px;
    border: 1px solid rgba(140, 140, 140, 0.6);
}
.width-32-percent{
    width: 32.333%
}
.left-20{
    left: 20px;
}

label{
    color: #5a5f66;
    font-weight: 100;
}

h1.record-section-header{
    font-size: 1.4em;
    font-weight: 700;
    margin: 1em 0 0;
    color: #53585f;
    padding-bottom: 5px;
}

.underline-header{
    border-bottom: 1px solid #214b53;
    margin: 0 0 1em;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox  */
    -ms-appearance: checkbox;     /* not currently supported */
    border-radius: 0;
}

.padding-20{
    padding: 20px;
}
.padding-top-none{
    padding-top: 0;
}
.padding-left{
    padding-left: 20px;
}

.radio-value{
    font-size: 1.1em;
}
.display-block{
    display: block;

}
.max-width-none{
    max-width: none;
}
.width-270{
    width: 270px;
}
.width-100-percent{
    width: 100%;
}

.width-80-percent{
    width: 80%;
}

.medical-visit-btn{
    width: 80% !important;
    min-width: 180px;
}

.width-60-percent{
    width: 60%;
}

.width-50-percent{
    width: 50%;
}
.width-30-percent{
    width: 30%;
}
.width-1000{
    width: 1000px;
}
.max-width-100per{
    max-width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.color-green{
    color: #008000;
}

.color-red{
    color: red;
}

.hide-element{
    display: none;
}

input:focus, textarea:focus {
    border-color: #b269a7;
}

.focused{
    color: #b269a7;
}

.form-group:focus label{
    color: red;
}

.submit-button{
    background-color: #00a59a;
    color: #FFFFFF;
    padding: 1em;
    font-size: 1.2em;
    border: none;
}

.new-visit-button{
    border: none;
    width: 220px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    /*text-align: center;*/
    /*line-height: 50px;*/
    /*cursor: pointer;*/
}
a.new-visit-button:hover,
a.new-visit-button:focus,
a.simple-button:hover,
a.simple-button:focus{
    color: white;
    text-decoration: none;
}

.referral-info{
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

#benefiter_referrals_history th,
#benefiter_referrals_history td{
    text-align: center;
}

input[disabled]{
    opacity: 0.6;
}

#select-condition li{
    white-space: normal;
}

.padding-left-right-30{
    padding-left: 30px;
    padding-right: 30px;
}
.padding-top-bottom-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.dynamic-form-section{
    border: #214b53 solid 1px;
    margin-bottom: 1em;
}

.updated-visit{
    color: green;
    font-size: 20px;
    padding-left: 10px;

}

#remove-file{
    cursor: pointer;
}

.select2-selection__rendered{
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.border-bottom-light{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.border-bottom-light-thick{
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
}

.margin-15-30{
    margin: 15px 30px;
}

.font-weight-700{
    font-weight:700;
}
.max-width-60per{
    max-width: 50%;
}
.upload-description{
    max-width: 100%;
    word-wrap: break-word;
}

a.btn{
    font-weight: 700;
}

.padding-left-50px{
    padding-left: 50px;
}
#medication .select2
{
    min-width: 250px !important;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-0{
    margin: 0;
}

.margin-top-minus-3{
    margin-top: -3px;
}

.asterisk{
    vertical-align: top;
    font-size: 0.7em;
    color: #b269a7;
}

.make-italic{
    font-style: italic;
}

.color-orange{
    color: darkorange;
}

a.btn.btn-default.font-weight-normal{
    font-weight: 100;
}

.vertical-align-top{
    vertical-align: top;
}

.margin-30 {
    margin: 30px;
}
.session-button{
    border: none;
    margin-bottom: 15px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 0px;
}
.lighter-green-background {
    background-color: #6ae0b4;
}

.float-right{
    float: right;
}

@media screen and (max-width: 991px){
    .medication_other_name{
        padding-left: 50px;
    }
}

@media screen and (max-width: 1350px) {
    .medical-visit-btn {
        min-width: 100px;
    }

    table.display.dataTable td button, .btn-group-lg > .btn, .btn-lg {
        font-size: 10px;
        height: 30px;
    }
}
