#psychosocial-history-title{
    padding-top: 0.7em;
}

.save-session{
    margin: 1em;
}

.div-table-titles > div > div > p{
    font-weight: 600;
    text-align: center;
}

.div-table-row{
    margin-bottom: 1em;
}

.social-info > p{
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

.div-hr {
	border-bottom: 1px solid #f7f7f7;
	width: 99%;
	margin-left: 10px;
}

.session-button{
    border: none;
    /*width: 220px;*/
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}
.lighter-green-background {
    background-color: #6ae0b4;
}
.margin-30 {
    margin: 30px;
}
.float-right{
    float: right;
}

@media screen and (max-width: 1350px){
    .session-button{
        font-size: 10px;
    }
}
