/*#search-btn{*/
    /*float: right;*/
    /*margin: 0 0.8em 0.8em;*/
    /*font-size: 1.4em;*/
    /*padding: 0.2em 1.4em;*/
    /*background: #4c2a47;*/
/*}*/

.state > h1{
    font-size: 1.1em;
    text-align: center;
}

.min-height-150px{
    min-height: 150px;
}

.state-loading{
    margin: 0 !important;
}

.fa-loading-wrapper{
    margin: 0 15px !important;
}

.fa-loading-bg{
    margin-left: 15px;/*: 0 15px !important;*/
    margin-right: 15px;
}

.fa-loading-bg, .fa-loading-icon-wrapper{
    right: 0;
    width: auto;
}

a.simple-button:hover, a.simple-button:focus{
    color: white;
    text-decoration: none;
}

.margin-bottom-300px{
    margin-bottom: 300px;
}

.min-height-300px{
    min-height: 300px;
}
.border-top{
    border-top: 20px solid #e6f4f4;
}
.margin-top-14px{
    margin-top: 14px;
}
.custom-label-width{
    display: inline-block;
    max-width: none;
    width: 190px;
}
.search-submit-button {
    border: medium none;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    height: 50px;
    width: 220px;
    background-color: #4c2a47;
    /*float: right;*/
    margin: 20px;
}

#fetch-all-btn{
    background-color: #00a59a;
}

.float-left{
    float: left;
}
.width-60per{
    width: 60%;
}
