html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 980px;
    /*display: table;*/
    /*font-weight: 100;*/
    /*font-family: 'Lato';*/
}
.text-align-right{
    text-align: right;
}
.container {
    text-align: center;
    /*display: table-cell;*/
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.font-weight-600{
    font-weight: 600;
}

.centerDiv{
    float: none;
    margin: 0 auto;
}

.align-text-center{
    text-align: center;
}
.disable-anchor{
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

a[disabled] {
	pointer-events: none;
	opacity: 0.3;
}

.simple-button{
    background-color: #00a59a;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    margin: 0.5em;
}
.alert, .alert ul {
    text-align: center;
    font-size: 1.1em;
    list-style-type: none;
}

@media screen and (max-width: 1350px) {
    body {
        font-size: 1em;
    }

    .benefiter-info > h2{
        font-size: 0.9em;
    }

    h2{
        font-size: 20px;
    }
}
