.panel-container{
    width: 100%;
    height: 100%;
}
.white{
    color: #ffffff;
}
.grey{
    color: #a9a9a9;
}
.full-height{
    height: 100%;
}
.no-float{
    float: none;
}
.no-padding{
    padding: 0px !important;
}
.table-display{
    display: table;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.float-left{
    float: left;
}
.no-background{
    background-color: transparent !important;
}
.purple-background{
    background-color: #4c2a47;
}

.dark-green-background{
    background-color: #18444c;
}
.light-green-background{
    background-color: #00a59a;
}
.padding-top-20{
    padding-top: 20px;
}
.height-6per{
    height: 6%;
}
.height-8per{
    height: 8%;
}

.height-100per{
    height: 100%;
}
.margin-top-60{
    margin-top:60px;
}
.pos-relative{
    position: relative;
}

.grey-border-bottom{
    border-bottom: 2px solid #a9a9a9;
}

/* TOP BAR (with username) */
/*div#main-window {*/
    /*top: -82px;*/
/*}*/


.benefiter-info{
    color: white;
    font-size: 20px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.userName{
    float: right;
    font-size: 20px;
    color: white;
    padding: 0px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

.userName a, .userName a:hover, .userName a:focus{
    text-decoration: none;
    color: #ffffff;
}


/* TOP BAR (with usernam) */

/* Container without the top bar */


    /* SIDEBAR */
.newCont{
    width: 100%;
    height: 100%;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}
            /* NGO Logo*/
.logo-ngo{
    padding: 25px 0 25px 25px;
}
            /* END NGO Logo*/

            /* Search Bar*/
.searchField{
    width: 76%;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    border: 3px solid #926194;
    padding: 10px;
}
.searchButton{
    color: white;
    background-color: #4c2a47;
    border: none;
    padding: 15px;
    width: 24%;
}
.searchField::-webkit-input-placeholder {
    font-style: italic;
}
.searchField:-moz-placeholder {
    font-style: italic;
}
.searchField::-moz-placeholder {
    font-style: italic;
}
.searchField:-ms-input-placeholder {
    font-style: italic;
}

.fond-size-25px{
    font-size: 25px;
}
            /* END Search Bar*/

            /* Menu */
#menu ul {
    list-style-type: none;
    font-size: 28px;
    padding: 0px;
}
#menu ul li a{
    color: #ffffff;
    text-decoration: none;
}
#menu ul li a{
    cursor: pointer;
}
#menu ul > li {
    padding: 10px 10px 10px 30px;
    height: 62px;
}
#menu ul > li > ul > li{
    padding: 0px 0px 10px 30px;
    height: 42px;
}
#menu i {
    font-size: 1em;
    line-height: inherit;
}
#register-benefiter-list ul li {
    font-size: 20px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.child{
    font-size: 20px;
    padding: 0px 0px 10px 50px !important;
    height: 42px !important;
    line-height: 42px;
}

.buttonMenu{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#edit-benefiter{
    line-height: 40px;
}

.min-height-720px{
    min-height: 720px;
}

.min-width-85px{
    min-width: 85px;
}

.min-width-230px{
    min-width: 230px;
}

.hide-overflow{
    overflow: hidden;
}

            /* END Menu */

            /* Bottom logo */
.bottomLogo{
    position: absolute;
    bottom: 10px;
    width: 35%;
}
            /* END Bottom logo */

    /* END SIDEBAR */

    /*--------------------------------------------*/

    /* MAIN WINDOW */



    /* END MAIN WINDOW */

/* END Container without the top bar */



/* MEDIA */

/*@media (max-width: 992px){*/
    /*div#sidebar {*/
        /*width: 30%;*/
    /*}*/
    /*div#main-window {*/
        /*float: left;*/
        /*width: 100%;*/
    /*}*/
/*}*/

@media screen and (max-width: 1350px){
    .userName{
        font-size: 15px;
    }

    #menu ul > li{
        height: 40px;
        padding: 5px 5px 5px 10px;
    }
}

@media screen and (max-width: 1200px){
    #menu ul, .child {
        font-size: 15px;
    }
    
    .searchField{
        font-size: 15px;
    }
}
