.width-120px{
    width: 120px;
}

.height-120px{
    height: 120px;
}

p{
    color: #53585f;
}

img{
    vertical-align: top;
}

h4 {
    text-align: center;
}

p.users-title{
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
}

p.users-counter{
    font-size: 4.375em;
    font-weight: 700;
    margin: 0 0 0 10px;
    padding: 0;
}

.padding-30{
    padding: 30px;
}

.gender-icon{
    border: 1px solid rgba(51, 51, 51, 0.19);
    padding: 5px;
    font-size: 50px;
    color: rgba(51, 51, 51, 0.19);
}

.display-table{
    display: table;
}
.col-equal-height{
    float: none;
    display: table-cell;
    vertical-align: top;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.gender-number{
    font-size: 4.375em;
    font-weight: 700;
    line-height: 1;
}
.gender-text{
    font-size: 28px;
}

.male-color{
    color: #6b82a7;
}
.female-color{
    color: #a8748a;
}
.other-color{
    color: #a2a2a2;
}

#benefiter_vs_education,
#maritalStatusReport,
#ageReport,
#benefiter_vs_doctor_type,
#registrationStatusReport,
#benefiters-work-title-chart,
#benefiters-per-medical-visits-chart,
#benefiter_vs_clinical_conditions,
#medical_visits_per_month,
#benefiter_vs_phycological_support,
#medical_visits_per_month,
#registrations_per_month {
    width: 100%;
    height: 500px;
    font-size: 16px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#benefiter_vs_education .amcharts-chart-div a{
    display: none !important;
}

#legalStatusReport, #medicalStatusReport {
	width: 100%;
	height: 500px;
}

.amcharts-chart-div > a {
	display: none !important;
}

.amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
    transform: scale(1.1);
    filter: url(#shadow);
}

.amcharts-export-menu-top-right {
    top: 10px;
    right: 0;
}
.left-border{
    border-left: 20px solid #e6f4f4;
    padding-left: 0;
}

.padding-right-0{
    padding-right: 0;
}

.margin-bottom-300px{
    margin-bottom: 300px;
}
.min-height-300px{
    min-height: 300px;
}

.padding-right-35{
    padding-right: 35px;
}

@media(max-width: 1360px){
    p.users-title{
        font-size: 1em;
    }
}

@media screen and (max-width: 1200px) {
    .width-120px{
        width: 90px;
    }

    .height-120px{
        height: 90px;
    }
}
